<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<Analysis>
		<Title>Tag Spectre Data INC0168837</Title>
    <Description><![CDATA[&lt;This analysis collects all of the spectre/meltdown vulnerability data dropped by the tag_spectre_meltdown_status script&gt; ]]></Description>
		<Relevance>true</Relevance>
		<Source>Internal</Source>
		<SourceReleaseDate>2017-10-27</SourceReleaseDate>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>Fri, 27 Oct 2017 21:49:34 +0000</Value>
		</MIMEField>
		<Domain>BESC</Domain>
    - property_counter = 1
    - self[:reg_keys].each do |namespace, properties|
      - properties.each do |property|
        Property Name="LBNL::Incidents::#{namespace}::#{property}" ID="#{property_counter}" EvaluationPeriod="PT1H"
          | if ((operating system as string) starts with "Win") then (((((value of (key "HKLM\Software\LBNL\Incidents\
          | #{namespace}"
          |  of x32 registry)) whose (name of it is "#{property}")) as string) |    "No key on host"  )    )    else (      (    ((line of file "/opt/lbl/icusw/#{namespace}/#{property}") as string) | "No key on host"))
        - property_counter += 1
	</Analysis>
</BES>
